

.title{
    color: black;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

@media screen and (min-width: 430px) {
    .cadreGrey{
        border: 2px solid #e5e5e5;
        border-radius: 10px;
        padding: 10px;
    }
    .hidden{
        display: none;
    }
    body{
        background-color: white;
    }
}

@media screen and (max-width: 431px) {
    .barreFine {
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        padding: 20px;
    }
    body{
        background-color: #DADADA;
    }
}

.retraitFilter{
    margin-bottom: 10px;
}
