body{
    font-family: "Encode Sans";
}

.footer{
    color: whitesmoke;
    min-height: 200px;
    background-color: rgba(141, 16, 40);
    bottom : fixed;
}

.navbar:hover{
    color:rgba(141, 16, 40);

}
.btn-default

{
    background-color: rgba(141, 16, 40);

    color:whitesmoke;

    border-color: rgba(141, 16, 40);

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {


    background-color: lightgrey;

    color:rgba(141, 16, 40);

    border-color: lightgray;

}

