body{
    background-color: #DADADA;
}

.title{
    color: black;
    font-family: Nunito, sans-serif;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.barreFine{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.retraitFilter{
    margin-bottom: 10px;
}
