body{
    background-color: #DADADA;
    font-family: "Encode Sans", serif;
}

.title{
    color: black;
    font-family: "Encode Sans", Nunito, sans-serif;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

@media screen and (min-width: 430px) {
    .cadreGrey{
        border: 1px solid grey;
        border-radius: 20px;
    }
    .hidden{
        display: none;
    }
}
.barreFine {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
}

.retraitFilter{
    margin-bottom: 10px;
}
